<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.caronas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:maxSdkVersion="19" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="19" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="19" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="19" />
    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS"
        android:maxSdkVersion="19" />
    

    <application
        android:name="br.usp.caronas.HitchhikingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_caronas_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="br.usp.caronas.RideListActivity"
            android:label="@string/app_name"
            android:parentActivityName="br.usp.caronas.ModeChooser" >
        </activity>
        <activity
            android:name="br.usp.caronas.ModeChooser"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.usp.caronas.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="br.usp.caronas.RideFormActivity"
            android:label="@string/title_activity_ride_form"
            android:parentActivityName="br.usp.caronas.ModeChooser" >
        </activity>
        <activity
            android:name="br.usp.caronas.RatingActivity"
            android:label="@string/title_activity_rating"
            android:parentActivityName="br.usp.caronas.ModeChooser" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.batmovel.ModeChooser" />
        </activity>
    
    <receiver android:name="br.usp.caronas.BatteryLevelReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
            <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
        </intent-filter>
    </receiver>
    
    </application>
</manifest>